<div class="row">
    <h3>Find {{ ctrl.category.name }}s</h3>
</div>
<div class="row main-search">
    <form class="form-inline" ng-submit="ctrl.find()">
      <div class="form-group">
        <input type="search" class="form-control" ng-model="ctrl.location" placeholder="Where are you?"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Find</button>
      </div>
    </form>
</div>

<div ng-hide="!ctrl.location_result">
  <div class="row">
    <div class="col-xs-12 main-header">
      <h4>
        We found 
        <ng-pluralize count="ctrl.totalSaloons" when="{'0': 'no {{ ctrl.category.name }}s',
                                                       '1': '1 {{ ctrl.category.name }}',
                                                       'other': '{} {{ ctrl.category.name }}s'}">
          
        </ng-pluralize>
        in {{ ctrl.location_result }}
      </h4>
    </div>
    <div class="col-xs-12">
      <ul class="list-group">
        <li ng-repeat="saloon in ctrl.saloons" class="list-group-item animated fadeInUp ">
          <a ui-sref="saloons.show({id: saloon.id})">{{ saloon.name }} <span class="animated fadeIn badge" ng-if="saloon.count > 0">{{ saloon.count }}</a>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="row">
      <div class="col-xs-3 visible-md-block visible-lg-block col-centered">
          <pagination boundary-links="true" total-items="ctrl.totalPages" items-per-page="10" max-size="3"
                      ng-model="ctrl.currentPage" class="pagination-sm" ng-change="ctrl.updatePage()" 
                      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
      </div>
      <div class="col-xs-12 visible-xs visible-sm">
          <pager total-items="ctrl.totalPages" ng-model="ctrl.currentPage" items-per-page="10" ng-change="ctrl.updatePage()" ></pager>
      </div>
  </div>  
</div>

<footer class="footer">
  <div class="container">
      <p>Saloony 0.0.0 |
        <a href="http://www.freecodecamp.com/reenan">@reenan</a> |
         <a href="https://github.com/naneer/basejump-nightlife-app/issues?state=open">Issues</a></p>
  </div>
</footer>
