<div class="row">
    <div class="col-xs-12">
        <h2>{{ saloon.name }}</h2>
    </div>    
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>{{ saloon.address }}</h4>
        <a ng-href="{{ saloon.url }}">More Info</a>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-primary btn-lg" ng-click="saloon.imGoing()">I'm Going</button>
        <button type="button" class="btn btn-primary btn-lg" ng-click="saloon.imNotGoing()">I'm Not Going</button>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>
            <ng-pluralize count="saloon.totalSaloonies" when="{'0': 'No Saloonies are',
                                            '1': 'One Saloony is',
                                            'other': '{} Saloonies are'}"></ng-pluralize>
            Going Tonight
        </h4>
    </div>
    <div ng-repeat="saloony in saloon.saloonies" class="col-xs-12 col-sm-6 col-md-4">
      <a href="#" class="thumbnail">
        {{ saloony.name }}
      </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-3 visible-md-block visible-lg-block col-centered">
        <pagination boundary-links="true" total-items="saloon.totalSaloonies" items-per-page="10" 
                    ng-model="saloon.currentPage" class="pagination-sm" ng-change="saloon.updatePage()" 
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
    <div class="col-xs-12 visible-xs visible-sm">
        <pager total-items="saloon.totalSaloonies" ng-model="saloon.currentPage" items-per-page="10" ng-change="saloon.updatePage()" ></pager>
    </div>
</div>