<div class="row">
    <div class="col-xs-6">
        <h2>{{ saloon.name }}</h2>
    </div>
    <div class="col-xs-6">
        <button type="button" class="pull-right btn btn-primary btn-lg animated bounceInRight" ng-show="saloon.saloonystatus === 2" ng-click="saloon.rsvp('add')">RSVP</button>
        <button type="button" class="pull-right btn btn-danger btn-lg animated bounceInRight" ng-show="saloon.saloonystatus === 1" ng-click="saloon.rsvp('remove')">Cancel RSVP</button>
        <a class="pull-right btn btn-primary btn-lg animated bounceInRight" ng-show="saloon.saloonystatus === 0" ui-sref="login">Login to RSVP</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>{{ saloon.address }}</h4>
        <a ng-href="{{ saloon.url }}">More Info</a>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>
            <ng-pluralize count="saloon.total" when="{'0': 'No Saloonies are',
                                            '1': 'One Saloony is',
                                            'other': '{} Saloonies are'}"></ng-pluralize>
            Going Tonight
        </h4>
    </div>
    <div ng-repeat="saloony in saloon.saloonies | orderBy: 'timestamp' : true" class="col-xs-12 col-sm-6 col-md-4 ">
      <a href="#" class="thumbnail">
        {{ saloony.name }}
      </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-3 visible-md-block visible-lg-block col-centered">
        <pagination boundary-links="true" total-items="saloon.total" items-per-page="9" 
                    ng-model="saloon.currentPage" class="pagination-sm" ng-change="saloon.updatePage()" 
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
    <div class="col-xs-12 visible-xs visible-sm">
        <pager total-items="saloon.total" ng-model="saloon.currentPage" items-per-page="9" ng-change="saloon.updatePage()" ></pager>
    </div>
</div>