<div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary btn-lg" ng-if="!ctrl.isGoing" ng-click="saloony.imGoing()">I'm Going</button>
            <button type="button" class="btn btn-primary btn-lg" ng-if="ctrl.isGoing" ng-click="saloony.imNotGoing()">I'm Not Going</button>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>
                <ng-pluralize count="ctrl.total" when="{'0': 'No Saloonies are',
                                                '1': 'One Saloony is',
                                                'other': '{} Saloonies are'}"></ng-pluralize>
                Going Tonight
            </h4>
        </div>
        <div ng-repeat="saloony in ctrl.saloonies | orderBy: 'timestamp' : true" class="col-xs-12 col-sm-6 col-md-4 ">
          <a href="#"  class="thumbnail">
            {{ saloony.name }}
          </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 visible-md-block visible-lg-block col-centered">
            <pagination boundary-links="true" total-items="ctrl.total" items-per-page="9" 
                        ng-model="ctrl.currentPage" class="pagination-sm" ng-change="ctrl.updatePage()" 
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </div>
        <div class="col-xs-12 visible-xs visible-sm">
            <pager total-items="ctrl.total" ng-model="ctrl.currentPage" items-per-page="9" ng-change="ctrl.updatePage()" ></pager>
        </div>
    </div>
</div>